@{
}
@model TarkovInventoryAssistant_Server.source.Models.ResultsListModel

<div class="text-center">
    <h1 class="display-4">RESULTS:</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is where detection results should go!</a>.</p>
</div>

<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Dim
                </th>
                <th>
                    Flea Price
                </th>
                <th>
                    Trader Price
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.results.Count() > 0)
            {

                @foreach (DetectionResultsModel det in Model.results)
                {
                    <tr>
                        <td>
                            <img src="@Url.Action("ShowCatalogImage", new { filePath = det.catalogImage, fileName = det.name, contentType = "application/octet-stream" })" alt="File Image" />
                        </td>
                        <td>
                            @det.count
                        </td>
                        <td>
                            @det.name
                        </td>
                        <td>
                            @det.dim
                        </td>
                        <td>
                            @det.fleaPrice

                        </td>
                        <td>
                            <div>
                                @det.traderPrice
                            </div>
                            <div>
                                @det.trader
                            </div>

                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>

</div>
