@{
}
@model TarkovInventoryAssistant_Server.source.Models.ResultsListModel


<div class="card-body">

    <div>
        <p class="totalValueText">Total Value: @Model.totalvaluecounter.getValueString()</p>
    </div>

    <table id="resultTable" class="table sortable" style="color: #ffffff;">

        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Count
                </th>
                <th>
                    Name
                </th>
                <th>
                    Dim
                </th>
                <th data-sort-type="currency">
                    Flea Price
                </th>
                <th data-sort-type="currency">
                    Trader Price
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.results.Count() > 0)
            {

                @foreach (DetectionResultsModel det in Model.results)
                {
                    <tr>
                        <td>

                            <img src=@det.catalogImage alt="Choose file">
                        </td>
                        <td>
                            @det.count
                        </td>
                        <td>
                            @det.name
                        </td>
                        <td>
                            @det.dim
                        </td>
                        <td style="@(det.sellOnFlea ? "background-color: #0fb8a7":"")">
                            <div>@det.fleaPrice</div>


                        </td>
                        <td style="@(det.sellOnFlea ? "":"background-color: #05e841;")">
                            <div>@det.traderPrice</div>
                            <div>@det.trader</div>

                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>

</div>
